.label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.input{
    padding: 10px;
    border-radius: 20px;
    display: flex;

}
.button{
    display: flex;
    background-color: darkslategrey;
    color: aliceblue;
    margin: 10px;
    border-radius: 10px;
}